.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 17rem;
  padding-block: 1rem;
  gap: 2rem;
  min-width: 70%;
  position: sticky;
  top: 0;
  z-index: 4;
  background:  rgba( 22, 21, 21, 0.7 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
}

.nav a{
  color: #fff;
  text-decoration: none;
}

.logo {
  margin-right: auto;
}
