.nav {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  gap: 2rem;
  min-width: 70%;
}

.nav a{
  color: #fff;
  text-decoration: none;
}

.logo {
  margin-right: auto;
}
