h1{
  text-align: center;
} 
.pokemon-page {
   margin-inline: 6rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 2rem;
 }

.pages {
  text-align: center;
  margin-block: 1rem;
}

.pages span {
  margin: 0 0.75rem;
}
